.bin-dropdown {
  display: inline-block;
  .bin-dropdown {
    width: 100%;
  }
  &-rel {
    position: relative;
    &-user-select-none {
      user-select: none;
    }
  }
  &-menu {
    min-width: 100px;
  }
  &-transfer {
    width: auto;
    max-height: none;
  }
  &-item-selected, &-item&-item-selected:hover {
    background: $color-primary-light5;
  }

  .bin-select-dropdown {
    overflow: visible;
    max-height: none;
    margin: 4px;
  }
}
.bin-dropdown-item {
  margin: 0;
  line-height: normal !important;
  padding: 6px 12px;
  clear: both;
  color: $color-text-default;
  font-size: $base-font-size !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background $animation-duration-base ease-in-out;
  .icon-ios-arrow-forward {
    position relative;
    right: -6px;
  }
  &:hover {
    background: #f3f3f3;
  }
  &-disabled {
    color: $btn-disable-color !important;
    cursor: not-allowed;
    &:hover {
      color: $btn-disable-color !important;
      background-color: #fff;
      cursor: not-allowed;
    }
  }
  &-divided {
    margin-top: 5px;
    border-top: 1px solid #e8eaec;
  }
}
