.bin-page {
  color: $color-text-default;
  font-size: $base-font-size;
  font-variant: tabular-nums;
  line-height: 1.5715;
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  &-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    list-style: none;
    background-color: $color-white;
    user-select: none;
    cursor: pointer;
    font-family: Arial;
    border: $border-base;
    border-radius: $border-base-radius;
    transition: border .2s ease-in-out, color .2s ease-in-out;
    a {
      font-family: Monospaced Number;
      margin: 0 6px;
      text-decoration: none;
      color: $color-text-default;
    }
    &:hover {
      border-color: $color-primary;
      a {
        color: $color-primary;
      }
    }
    &-active {
      border-color: $color-primary;
      a, &:hover a {
        color: $color-primary;
      }
    }
  }
  &-item-jump-prev, &-item-jump-next {
    margin-right: 4px;
    &:after {
      content: "•••";
      display: block;
      letter-spacing: 1px;
      color: $color-text-disabled;
      text-align: center;
    }
    i {
      display: none;
    }
    &:hover {
      &:after {
        display: none;
      }
      i {
        display: inline;
        font-size: $color-text-disabled;
      }
    }
  }

  &-prev {
    margin-right: 4px;
  }
  &-prev, &-next, &-item-jump-prev, &-item-jump-next {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-family: Arial;
    border: $border-base;
    border-radius: $border-base-radius;
    transition: all .2s ease-in-out;
  }

  &-item-jump-prev, &-item-jump-next {
    border-color: transparent;
  }

  &-prev, &-next {
    background-color: $color-white;
    padding: 0 5px;
    a {
      color: $color-text-secondary;
      font-size: $base-font-size;
      display: inline-flex;
      align-items: center;
      height: 100%;
      .iconfont {
        font-size: $base-font-size;
      }
    }
    &:hover {
      border-color: $color-primary;
      a {
        color: $color-primary;
      }
    }
  }

  &-disabled {
    cursor: not-allowed;
    a {
      color: $color-text-disabled;
    }
    &:hover {
      border-color: #dcdee2;
      a {
        color: $color-text-disabled;
        cursor: not-allowed;
      }
    }
  }
  &-options {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    &-sizer {
      display: inline-block;
      margin-right: 10px;
    }
    &-elevator {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      line-height: 30px;
      input {
        display: inline-block;
        margin: 0 8px;
        width: 50px;
        height: 32px;
        line-height: 1.5;
        padding: 0 11px;
        font-size: $base-font-size;
        border: $border-base;
        border-radius: $border-base-radius;
        color: $color-text-default;
        background-color: $color-white;
        background-image: none;
        position: relative;
        cursor: text;
        transition: border .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease;
        placeholder()
        &:focus, &:hover {
          border-color: $color-primary;
        }
        &:focus {
          outline: 0;
          box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
        }
      }
    }
  }
  &-total {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    font-size: $base-font-size;
  }
  &-simple &-prev, &-simple &-next {
    margin: 0;
    border: 0;
    height: 24px;
    line-height: normal;
    font-size: 18px;
  }

  &-simple &-simple-pager {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    input {
      width: 30px;
      height: 24px;
      margin: 0 8px;
      padding: 5px 8px;
      text-align: center;
      box-sizing: border-box;
      background-color: $color-white;
      outline: none;
      border: $border-base;
      border-radius: $border-base-radius;
      transition: border .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease;
      &:hover {
        border-color: $color-primary;
      }
    }
    span {
      padding: 0 8px 0 2px;
    }
  }
}

//  mini模式
.bin-page {
  &.mini &-total {
    height: 24px;
    line-height: 24px;
  }
  &.mini &-item {
    border-color: transparent;
    margin: 0;
    min-width: 24px;
    height: 24px;
    line-height: 23px;
    border-radius: $border-base-radius;
    &-active {
      border-color: $color-primary;
    }
  }
  &.mini &-prev, &.mini &-next {
    margin: 0;
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    border: 0;
    a {
      i {
        vertical-align: middle;
      }
    }
  }
  &.mini &-item-jump-prev, &.mini &-item-jump-next {
    height: 24px;
    line-height: 24px;
    border: none;
    margin-right: 0;
  }
  &.mini &-options {
    margin-left: 8px;
    &-elevator {
      height: 24px;
      line-height: 24px;
      input {
        height: 24px;
        width: 44px;
      }
    }
  }
}
