$color-timeline = #e8eaec;

.bin-timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  &-item {
    margin: 0 !important;
    padding: 0 0 12px 0;
    list-style: none;
    position: relative;
    line-height: $base-line-height;
    &-tail {
      position: absolute;
      left: 6px;
      top: 3px;
      height: 100%;
      border-left: 1px solid $color-timeline;
    }
    &-pending &-tail {
      display: none;
    }
    &-head {
      position: absolute;
      top: 3px;
      width: 13px;
      height: 13px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid transparent;
      &-primary {
        border-color: $color-primary;
        color: $color-primary;
      }
      &-success {
        border-color: $color-success;
        color: $color-success;
      }
      &-info {
        border-color: $color-info;
        color: $color-info;
      }
      &-warning {
        border-color: $color-warning;
        color: $color-warning;
      }
      &-danger {
        border-color: $color-danger;
        color: $color-danger;
      }
    }

    &-head-custom {
      width: 40px;
      height: auto;
      padding: 3px 0;
      text-align: center;
      line-height: 1;
      border: 0;
      border-radius: 0;
      font-size: 14px;
      position: absolute;
      left: -13px;
      top: 8px;
      background: transparent;
      transform: translateY(-50%);
      .iconfont {
        font-size: 18px;
      }
    }
    &-content {
      padding: 1px 1px 10px 24px;
      font-size: $base-font-size;
      position: relative;
      top: -3px;
      line-height: 1.5em;
    }

    &:last-child {
      .bin-timeline-item-tail {
        display: none;
      }
    }
  }
  &-pending &-item:nth-last-of-type(2) {
    .bin-timeline-item-tail {
      border-left: 1px dotted $color-timeline;
    }
    .bin-timeline-item-content {
      min-height: 48px;
    }
  }
}
