.bin-tree {
  font-size: $base-font-size;
  color: $color-text-default;
  &-wrapper {
    margin-right: 4px;
    margin-left: 4px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.bin-dropdown-menu {
      padding: 0;
    }
    li {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      outline: none;
      margin: 0;
      &.bin-dropdown-item {
        margin: 0;
        padding: 7px 16px;
        white-space: nowrap;
      }
    }
  }
  li {
    ul {
      margin: 0;
      padding: 0 0 0 16px;
    }
  }

  &-node {
    display: flex;
    align-items: flex-start;
    padding: 0 0 4px 0;
  }
  &-title {
    margin: 0;
    padding: 0 6px;
    line-height: 24px;
    border-radius: $border-base-radius;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    span {
      color: $color-danger;
    }
    &:hover {
      background-color: $color-primary-light5;
    }
    &-selected, &-selected:hover {
      background-color: $color-primary-light4;
    }
  }

  &-render-title {
    width: 100%;
    margin: 0;
    padding: 0 6px;
    line-height: 24px;
    border-radius: $border-base-radius;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: $color-primary-light5;
    }
    &-selected, &-selected:hover {
      background-color: $color-primary-light4;
    }
  }
  &-arrow {
    flex: none;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    .icon-ios-arrow-forward {
      position: relative;
      top: -1px;
      transition: transform .2s ease-in-out;
      font-size: 14px;
      vertical-align: middle;
    }
    &-open {
      .icon-ios-arrow-forward {
        transform: rotateZ(90deg) translateZ(0);
      }
    }
    &-disabled {
      cursor: not-allowed;
    }
  }
  .bin-checkbox-wrapper {
    margin-right: 4px;
    line-height: $base-line-height;
    vertical-align: baseline;
  }
}
