.bin-tree {
  font-size: $base-font-size;
  color: $color-text-default;
  &-wrapper {
    margin-right: 4px;
    margin-left: 4px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.bin-dropdown-menu {
      padding: 0;
    }
    li {
      list-style: none;
      padding: 0;
      outline: none;
      margin: 0;
      &.bin-dropdown-item {
        margin: 0;
        padding: 7px 16px;
        white-space: nowrap;
      }
    }
  }
  li {
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
  }

  &-node {
    height: 28px;
    padding: 0 0 4px 0;
    white-space: nowrap;
  }
  &-title {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    line-height: 22px;
    border-radius: $border-base-radius;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: $color-primary-light5;
    }
    &-selected, &-selected:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &-arrow {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    text-align: center;
    line-height: 22px;
    margin-right: 6px;
    .icon-ios-arrow-forward {
      position: relative;
      top: -1px;
      transition: transform .2s ease-in-out;
      font-size: 14px;
      vertical-align: middle;
    }
    &-open {
      .icon-ios-arrow-forward {
        transform: rotateZ(90deg) translateZ(0);
      }
    }
    &-disabled {
      cursor: not-allowed;
    }
  }
  .bin-checkbox-wrapper {
    margin-right: 1px;
    line-height: $base-line-height;
    vertical-align: baseline;
  }
}
