@import "../common/var.styl"
.bin-breadcrumb {
  font-size: 14px;
  line-height: 1;
  &:after, &:before {
    display: table;
    content: "";
  }
}

.bin-breadcrumb__item {
  &:last-child .bin-separator {
    display: none;
  }
}
.bin-separator {
  margin: 0 9px;
  font-weight: 700;
  color: #c0c4cc;
  &.icon {
    font-weight: normal;
  }
}
.bin-breadcrumb__inner {
  color: #606266;
  &.is-link, a {
    font-weight: 700;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645, .045, .355, 1);
    color: #303133;
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}
