@import "../common/var.styl"
$root = bin

.{$root}-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $color-white;
  border: $border-base;
  color: $color-text-regular
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .2s;
  user-select: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  .iconfont {
    vertical-align: baseline;
  }
  &-loading {
    font-size: 14px;
    margin-right: 5px;
  }
  &:hover {
    color: $color-primary;
    border-color: $color-primary-light5;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  &:focus {
    border-color: $color-primary-light4;
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
  }
  &:active {
    color: $color-primary-light1;
    border-color: $color-primary-light1;
    outline: none;
  }
  &.is-round {
    border-radius: 20px;
    padding: 10px 20px;
  }
  &.is-transparent {
    background: transparent;
    border-color: #fff;
    color: #fff;
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      background: transparent;
      cursor: not-allowed;
      color: #fff;
    }
  }
  &.is-loading {
    pointer-events: none;
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
  }
}

.{$root}-button--large {
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &.is-round {
    padding: 12px 23px;
  }
}
.{$root}-button--small {
  padding: 9px 10px;
  font-size: 12px;
  border-radius: 3px;
  &.is-round {
    padding: 9px 10px;
  }
}
.{$root}-button--mini {
  padding: 5px 7px;
  font-size: 12px;
  border-radius: 3px;
  &.is-round {
    padding: 5px 10px;
  }
}
.{$root}-button--primary {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background: $color-primary-light1;
    border-color: $color-primary-light1;
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
  }
  &.is-transparent {
    border-color: $color-primary;
    color: $color-primary;
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
      background-color: rgba(245, 249, 254, .5);
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      border-color: $color-primary-light3;
      color: $color-primary-light3;
    }
  }
  &.is-plain {
    color: $color-primary;
    background: $color-primary-light6;
    border-color: $color-primary-light5;
    &:focus, &:hover {
      border-color: $color-primary-light2;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-primary-light3;
      background-color: $color-primary-light6;
      border-color: $color-primary-light5;
    }
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-primary-light3;
    border-color: $color-primary-light3;
  }
}

.{$root}-button--success {
  color: #fff;
  background-color: $color-success;
  border-color: $color-success;
  &:hover {
    background: $color-success-light1;
    border-color: $color-success-light1;
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(25, 190, 107, .2);
  }
  &.is-transparent {
    border-color: $color-success;
    color: $color-success;
    &:hover {
      border-color: $color-success;
      color: $color-success;
      background-color: rgba(245, 249, 254, .5);
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      border-color: $color-success-light3;
      color: $color-success-light3;
    }
  }
  &.is-plain {
    color: $color-success;
    background: $color-success-light6;
    border-color: $color-success-light5;
    &:focus, &:hover {
      border-color: $color-success-light2;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-success-light3;
      background-color: $color-success-light6;
      border-color: $color-success-light5;
    }
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-success-light3;
    border-color: $color-success-light3;
  }
}

.{$root}-button--info {
  color: #fff;
  background-color: $color-info;
  border-color: $color-info;
  &:hover {
    background: $color-info-light1;
    border-color: $color-info-light1;
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(144, 147, 153, 0.2);
  }
  &.is-transparent {
    border-color: $color-info;
    color: $color-info;
    &:hover {
      border-color: $color-info;
      color: $color-info;
      background-color: rgba(245, 249, 254, .5);
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      border-color: $color-info-light3;
      color: $color-info-light3;
    }
  }
  &.is-plain {
    color: $color-info;
    background: $color-info-light6;
    border-color: $color-info-light5;
    &:focus, &:hover {
      border-color: $color-info-light2;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-info-light3;
      background-color: $color-info-light6;
      border-color: $color-info-light5;
    }
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-info-light3;
    border-color: $color-info-light3;
  }
}

.{$root}-button--warning {
  color: #fff;
  background-color: $color-warning;
  border-color: $color-warning;
  &:hover {
    background: $color-warning-light1;
    border-color: $color-warning-light1;
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 153, 0, .2);
  }
  &.is-transparent {
    border-color: $color-warning;
    color: $color-warning;
    &:hover {
      border-color: $color-warning;
      color: $color-warning;
      background-color: rgba(245, 249, 254, .5);
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      border-color: $color-warning-light3;
      color: $color-warning-light3;
    }
  }
  &.is-plain {
    color: $color-warning;
    background: $color-warning-light6;
    border-color: $color-warning-light5;
    &:focus, &:hover {
      border-color: $color-warning-light2;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-warning-light3;
      background-color: $color-warning-light6;
      border-color: $color-warning-light5;
    }
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-warning-light3;
    border-color: $color-warning-light3;
  }
}
.{$root}-button--danger {
  color: #fff;
  background-color: $color-danger;
  border-color: $color-danger;
  &:hover {
    background: $color-danger-light1;
    border-color: $color-danger-light1;
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(237, 64, 20, .2);
  }
  &.is-transparent {
    border-color: $color-danger;
    color: $color-danger;
    &:hover {
      border-color: $color-danger;
      color: $color-danger;
      background-color: rgba(245, 249, 254, .5);
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      border-color: $color-danger-light3;
      color: $color-danger-light3;
    }
  }
  &.is-plain {
    color: $color-danger;
    background: $color-danger-light6;
    border-color: $color-danger-light5;
    &:focus, &:hover {
      border-color: $color-danger-light2;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-danger-light3;
      background-color: $color-danger-light6;
      border-color: $color-danger-light5;
    }
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-danger-light3;
    border-color: $color-danger-light3;
  }
}

.{$root}-button--text {
  border-color: transparent;
  color: $color-info;
  background: transparent;
  padding: 0;
  &:focus, &:hover {
    color: $color-primary;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
  }
}
.{$root}-button--dashed {
  border-style: dashed;
}
//  button-group
.{$root}-button-group {
  display: inline-block;
  vertical-align: middle;
  & > .{$root}-button {
    float: left;
    position: relative;
  }
  .{$root}-button + .{$root}-button {
    margin-left: -1px;
  }
  & > .{$root}-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > .{$root}-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > .{$root}-button:not(:last-child) {
    margin-right: -1px;
  }
  & > .{$root}-button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .{$root}-button--primary:first-child,
  .{$root}-button--info:first-child,
  .{$root}-button--success:first-child,
  .{$root}-button--warning:first-child,
  .{$root}-button--danger:first-child {
    border-right-color: hsla(0, 0%, 100%, .5);
  }
  .{$root}-button--primary:last-child
  .{$root}-button--info:last-child,
  .{$root}-button--success:last-child,
  .{$root}-button--warning:last-child,
  .{$root}-button--danger:last-child {
    border-left-color: hsla(0, 0%, 100%, .5);
  }
  .{$root}-button--primary:not(:first-child):not(:last-child),
  .{$root}-button--info:not(:first-child):not(:last-child),
  .{$root}-button--success:not(:first-child):not(:last-child),
  .{$root}-button--warning:not(:first-child):not(:last-child),
  .{$root}-button--danger:not(:first-child):not(:last-child) {
    border-left-color: hsla(0, 0%, 100%, .5);
    border-right-color: hsla(0, 0%, 100%, .5);
  }
}

.bin-button + .bin-button {
  margin-left: 10px;
}

