@import "../common/var.styl"
.bin-loading-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  &-inner {
    transition: width .2s linear;
    &-color-primary {
      background-color: $color-primary;
    }
    &-failed-color-error {
      background-color: $color-danger;
    }
  }
}
