@import "../common/var.styl"
.bin-select {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  color: $color-text-default;
  font-size: $base-font-size;
  line-height: $base-line-height;
  &-selection {
    display: block;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: $color-white;
    border-radius: $border-base-radius;
    border: 1px solid #dcdee2;
    transition: all .2s ease-in-out;
    &:hover, &-focused {
      border-color: $color-primary-light2;
      .bin-select-arrow {
        display: inline-block;
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: $base-font-size;
    color: $color-text-secondary;
    transition: all .2s ease-in-out;
  }
  &-visible {
    .bin-select-selection {
      border-color: $color-primary;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
    }
    .bin-select-arrow {
      transform: translateY(-50%) rotate(180deg);
      display: inline-block;
    }
  }
  &-disabled {
    .bin-select-selection {
      background-color: #f5f5f5;
      opacity: 1;
      cursor: not-allowed;
      color: $color-text-disabled;
      &:hover {
        border-color: #dcdee2;
        box-shadow: none;
      }
    }
    .bin-select-arrow {
      color: #ccc;
    }
  }
  &-single &-selection {
    height: 36px;
    position: relative;
    .bin-select-placeholder {
      color: $color-text-placeholder;
    }
    .bin-select-placeholder, .bin-select-selected-value {
      display: block;
      height: 34px;
      line-height: 34px;
      font-size: $base-font-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 8px;
      padding-right: 24px;
    }
  }

  &-mini&-single &-selection {
    height: 28px;
    border-radius: $border-base-radius;
    .bin-select-placeholder, .bin-select-selected-value {
      height: 26px;
      line-height: 26px;
    }
  }
  &-mini&-multiple &-selection {
    min-height: 28px;
    border-radius: $border-base-radius;
    .bin-select-placeholder, .bin-select-selected-value {
      min-height: 26px;
      line-height: 26px;
    }
  }
  &-small&-single &-selection {
    height: 32px;
    .bin-select-placeholder, .bin-select-selected-value {
      height: 30px;
      line-height: 30px;
    }
  }
  &-small&-multiple &-selection {
    min-height: 32px;
    .bin-select-placeholder, .bin-select-selected-value {
      min-height: 30px;
      line-height: 30px;
    }
  }
  &-large&-single &-selection {
    height: 40px;
    .bin-select-placeholder, .bin-select-selected-value {
      height: 38px;
      line-height: 38px;
    }
  }
  &-large&-multiple &-selection {
    min-height: 40px;
    .bin-select-placeholder, .bin-select-selected-value {
      min-height: 38px;
      line-height: 38px;
      font-size: $base-font-size;
    }
  }
  &-multiple &-selection {
    padding: 0 24px 0 4px;
    .bin-select-placeholder {
      display: block;
      height: 30px;
      line-height: 30px;
      color: #c5c8ce;
      font-size: $base-font-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 4px;
      padding-right: 22px;
    }
  }
  &-multiple .bin-tag {
    height: 24px;
    line-height: 22px;
    margin: 3px 4px 3px 0;
    max-width: 99%;
    position: relative;
    span:not(.bin-select-max-tag) {
      display: block;
      margin-right: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    i {
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }
  &-prefix {
    display: inline-block;
    i {
      vertical-align: -1px;
      font-size: 16px;
    }
  }
  &-head-with-prefix {
    display: inline-block !important;
    vertical-align: middle;
  }
  &-single &-prefix {
    padding: 0 5px 0 6px;
  }
  &-single &-head-with-prefix, &-multiple &-head-with-prefix {
    padding-left: 0 !important;
  }
  // input
  &-input {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 24px 0 8px;
    font-size: $base-font-size;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: $color-text-default;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &::-moz-placeholder {
      color: $color-text-placeholder;
      opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    // Internet Explorer 10+
    &:-ms-input-placeholder {
      color: $color-text-placeholder;
    }
    // Safari and Chrome
    &::-webkit-input-placeholder {
      color: $color-text-placeholder;
    }

    &[disabled] {
      cursor: not-allowed;
      color: #ccc;
      -webkit-text-fill-color: #ccc; // #5249
    }
  }
  &-single &-input {
    width: 100%;
  }
  &-large &-input {
    line-height: 38px
    height: 38px;
  }
  &-small &-input {
    height: 34px
    line-height: 34px
  }
  &-mini &-input {
    height: 26px
    line-height: 26px
  }
  &-multiple &-input {
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 4px;
  }
  &-not-found {
    text-align: center;
    color: $color-text-placeholder;
  }
  &-loading {
    text-align: center;
    color: $color-text-placeholder;
  }
}
// 下拉框样式
.bin-select-dropdown {
  width: inherit;
  max-height: 200px;
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  background-color: $color-white;
  box-sizing: border-box;
  border-radius: $border-base-radius;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  position: absolute;
  z-index: 900;
}
// 下拉框item样式
.bin-select-item {
  margin: 0;
  line-height: normal !important;
  padding: 6px 12px;
  clear: both;
  color: $color-text-default;
  font-size: $base-font-size !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  &:hover {
    background: #f5f5f5;
  }
  &-selected, &-item &-selected:hover {
    background: $color-hover;
    font-weight: bold;
  }
  &-disabled {
    color: $color-text-placeholder !important;
    cursor: not-allowed;
    &:hover {
      color: $color-text-placeholder !important;
      background-color: $color-white;
      cursor: not-allowed;
    }
  }
}

//  分组样式
.bin-select-group {
  list-style: none;
  margin: 0;
  padding: 0;
  &-title {
    padding-left: 8px;
    font-size: $base-font-size;
    color: $color-text-secondary;
    height: 30px;
    line-height: 30px;
  }
}
//  多选状态下的下拉item样式
.bin-select-multiple .bin-select-item {
  position: relative;
  &-selected {
    color: $color-primary-light2 !important;
    background: $color-white;
  }
  &-focus, &-selected:hover {
    background: #f5f5f5;
  }
  &-selected&-focus {
    color: $color-primary-light5;
    background: $color-white;
  }
  &-selected:after {
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    content: '\e820';
    color: $color-primary-light2;
    position: absolute;
    top: 2px;
    right: 8px;
  }
}

// form-item error 样式
.bin-form-item-error {
  .bin-select {
    &-selection {
      border: 1px solid $color-danger;
    }
    &-arrow {
      color: $color-danger;
    }
    &-visible .bin-select-selection {
      border-color: $color-danger;
      outline: 0;
      box-shadow: 0 0 0 2px $color-danger-light5;
    }
  }
}
