.bin-tree {
  &-wrapper {
    margin-right: 4px;
    margin-left: 4px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    &.bin-dropdown-menu {
      padding: 0;
    }
    li {
      list-style: none;
      padding: 0;
      white-space: nowrap;
      outline: none;
      margin: 0;
      line-height: 26px;
      &.bin-dropdown-item {
        margin: 0;
        padding: 7px 16px;
        white-space: nowrap;
      }
      .bin-checkbox {
        vertical-align: baseline;
      }
    }
  }
  li {
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
  }

  &-title {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    line-height: 22px;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: top;
    color: #515a6e;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: #e6f7ff;
    }
    &-selected, &-selected:hover {
      background-color: #1890ff;
      color: #fff;
    }
  }

  &-arrow {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 14px;
    text-align: center;
    line-height: 22px;
    margin-right: 4px;
    .icon-ios-arrow-forward {
      position: relative;
      top: -1px;
      transition: transform .2s ease-in-out;
      font-size: 14px;
      vertical-align: middle;
    }
    &-open {
      .icon-ios-arrow-forward {
        transform: rotateZ(90deg) translateZ(0);
      }
    }
    &-disabled {
      cursor: not-allowed;
    }
  }
  .bin-checkbox-wrapper {
    margin-right: 0;
    margin-left: 4px;
  }
}
