@import "common/flex.styl";
@import "common/waves.styl";
@import "common/common.styl"
@import "common/transition.styl";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}

*, :after, :before {
  box-sizing: border-box;
}

[border-box] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[t-ellipsis] {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[v-cloak] {
  display: none;
}
// 字体优化
.iconfont {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.icon-loading, .icon-is-rotating:before {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

// 填满父元素
// 组要父元素 position: relative | absolute;
.full-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// 优化显示
body {
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bin-empty {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.bin-empty-image {
  height: 100px;
  margin-bottom: 8px;
  svg {
    height: 100%;
    margin: auto;
  }
}
.bin-empty-normal {
  margin: 32px 0;
  color: rgba(0, 0, 0, .25);
  .bin-empty-image {
    height: 40px;
  }
}
.bin-empty-img-simple-ellipse {
  fill: #f5f5f5;
}
.bin-empty-img-simple-g {
  stroke: #d9d9d9;
}
.bin-empty-img-simple-path {
  fill: #fafafa;
}
.bin-empty-description {
  margin: 0;
}
