@import "icon.styl"
@import "common/normalize.styl";
@import "common/flex.styl";
@import "common/waves.styl";
@import "common/transition.styl";

[border-box] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[t-ellipsis] {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[v-cloak] {
  display: none;
}
.icon-loading {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
// 填满父元素
// 组要父元素 position: relative | absolute;
$full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// 优化显示
html, body {
  margin: 0;
  height: 100%;
  color: #5e6d82;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

