@import "var.styl";

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: all .35s;
}
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0;
}

// 过渡动画 横向渐变
.fade-transverse-leave-active,
.fade-transverse-enter-active {
  transition: all .5s;
}
.fade-transverse-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transverse-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// 过渡动画 缩放渐变
.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all .5s;
}
.fade-scale-enter {
  opacity: 0;
  transform: scale(1.2);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

// 过渡动画 缩放渐变
.fade-scale-move-leave-active,
.fade-scale-move-enter-active {
  transition: all .35s;
}
.fade-scale-move-enter, .fade-scale-move-leave-to {
  opacity: 0;
  transform: scale(.9) translateY(-30px);
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
