/* Color
-------------------------- */
$color-white = #FFFFFF;

$color-primary = #2d8cf0;
$color-primary-light1 = rgba(45, 140, 240, 0.8);
$color-primary-light2 = rgba(45, 140, 240, 0.6);
$color-primary-light3 = rgba(45, 140, 240, 0.5);
$color-primary-light4 = rgba(45, 140, 240, 0.4);
$color-primary-light5 = rgba(45, 140, 240, 0.2);
$color-primary-light6 = rgba(45, 140, 240, 0.1);


$color-success = #16d7cd;
$color-success-light1 = rgba(22, 215, 205, 0.8);
$color-success-light2 = rgba(22, 215, 205, 0.6);
$color-success-light3 = rgba(22, 215, 205, 0.5);
$color-success-light4 = rgba(22, 215, 205, 0.4);
$color-success-light5 = rgba(22, 215, 205, 0.2);
$color-success-light6 = rgba(22, 215, 205, 0.1);

$color-info = #909399;
$color-info-light1 = rgba(144, 147, 153, 0.8);
$color-info-light2 = rgba(144, 147, 153, 0.6);
$color-info-light3 = rgba(144, 147, 153, 0.5);
$color-info-light4 = rgba(144, 147, 153, 0.4);
$color-info-light5 = rgba(144, 147, 153, 0.2);
$color-info-light6 = rgba(144, 147, 153, 0.1);

$color-warning = #ff9900;
$color-warning-light1 = rgba(255, 153, 0, 0.8);
$color-warning-light2 = rgba(255, 153, 0, 0.6);
$color-warning-light3 = rgba(255, 153, 0, 0.5);
$color-warning-light4 = rgba(255, 153, 0, 0.4);
$color-warning-light5 = rgba(255, 153, 0, 0.2);
$color-warning-light6 = rgba(255, 153, 0, 0.1);

$color-danger = #ff4d4f;
$color-danger-light1 = rgba(255, 77, 79, 0.8);
$color-danger-light2 = rgba(255, 77, 79, 0.6);
$color-danger-light3 = rgba(255, 77, 79, 0.5);
$color-danger-light4 = rgba(255, 77, 79, 0.4);
$color-danger-light5 = rgba(255, 77, 79, 0.2);
$color-danger-light6 = rgba(255, 77, 79, 0.1);
/* text-Color
-------------------------- */
$color-text-primary = #303133;
$color-text-regular = #606266;
$color-text-secondary = #909399;
$color-text-placeholder = #C0C4CC;
$border-color-base = #DCDFE6;
$border-color-light = #E4E7ED;
$border-color-lighter = #EBEEF5;
$border-color-extra-light = #F2F6FC;

/* Border
-------------------------- */
$border-base = 1px solid $border-color-base;
$border-base-light = 1px solid $border-color-light;

