.waves-ripple {
  position: absolute;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  background-clip: padding-box;
  pointer-events: none;
  user-select: none;
  transform: scale(0);
  opacity: 1;
}

.waves-ripple.z-active {
  opacity: 0;
  transform: scale(2);
  transition: opacity 1.2s ease-out, transform .8s ease-out;
}

html {
  --bin-wave-shadow-color: #0d85ff;
}
[bin-click-animating='true'] {
  position: relative;
}
[bin-click-animating='true']::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0d85ff;
  opacity: 0.2;
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-fill-mode: forwards;
  content: '';
  pointer-events: none;
}

@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}
@keyframes waveEffect {
  100% {
    box-shadow: 0 0 0 #0d85ff;
    box-shadow: 0 0 0 6px var(--bin-wave-shadow-color);
  }
}
