/* 改变主题色变量 */
$color-primary = #00BCD4;
$color-success = #7cb305;
$color-warning = #faad14;
$color-danger = #eb2f96;
/* 改变 icon 字体路径变量，必需 */
$font-path = '../src/styles/fonts';

$border-base-radius = 4px;

@import '../src/styles/index.styl'

